/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/build.make
/cmake-build-debug/CMakeFiles/ThreeDayVulkan_shader.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-5f01dedd3777118140b5.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/cmake.verify_globs
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/ThreeDayVulkan_shader.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f8567951df1758530ee7.json
/CMakeLists.txt.bk
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-508703bf5d0a9c655e68.json
/.idea/codeStyles/codeStyleConfig.xml
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/compiler_depend.internal
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/ThreeDayVulkan_shader.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/ThreeDayVulkan_shader.dir/compiler_depend.ts
/.idea/dataSources.xml
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/depend.make
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/ThreeDayVulkan_shader.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/flags.make
/cmake-build-debug/.cmake/api/v1/reply/index-2022-05-16T08-20-36-0647.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/link.txt
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/main.cpp.o.d
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/ThreeDayVulkan.dir/progress.make
/cmake-build-debug/CMakeFiles/ThreeDayVulkan_shader.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/.idea/libraries/ROS.xml
/.idea/ros.xml
/cmake-build-debug/generated/spv/shader.frag.spv
/generated/spv/shader.frag.spv
/cmake-build-debug/generated/spv/shader.vert.spv
/generated/spv/shader.vert.spv
/generated/cpp/shader_frag.h
/generated/cpp/shader_vert.h
/cmake-build-debug/.cmake/api/v1/reply/target-ThreeDayVulkan-Debug-9a7b67b54a2fc276bd5c.json
/cmake-build-debug/.cmake/api/v1/reply/target-ThreeDayVulkan_shader-Debug-8691ef724c951cc283d9.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/ThreeDayVulkan
/cmake-build-debug/ThreeDayVulkan.cbp
/.idea/ThreeDayVulkan.iml
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
/.idea/vcs.xml
/cmake-build-debug/CMakeFiles/VerifyGlobs.cmake
/.idea/libraries/workspace.xml
